body {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input {
    padding-left: 10px;
    padding-right: 10px;
}

.img-esquerda {
    width: 50%;
    height: 100vh;
}

.contains {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 720px;
    height: 100vh;

    font-size: 18px;
    line-height: 28px;
}

button {
    display: inline-block;
    text-align: center;
    border: 3px solid #00ff62;

    height: 50px;
    width: 475px;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 0.7em 2em;
    border-radius: 2px;

    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;

    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #00ff62;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #00ff62;
    z-index: -1;
}

button:hover,
button:focus {
    color: white;
    cursor: pointer;
}

button:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

button:active {
    transform: scale(0.9);
}